In [29]:
import pandas as pd
# read the dataset and convert to numbers
df = pd.read_csv("/home/vbdirtx5000/Desktop/thomtt/Approach/variables/train.csv")
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,015c63324,3.0,Novice,Freezing,a,R,GZ,5.0,NaN,0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,a02ae6a63,2.0,Novice,Boiling Hot,n,N,sf,NaN,3.0,0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,40f9610c1,2.0,Contributor,Freezing,n,H,MV,7.0,5.0,0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,c1a8374a0,1.0,Master,Warm,m,X,Ey,1.0,5.0,0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,e2aea7784,1.0,Contributor,Boiling Hot,b,O,uI,5.0,8.0,0

In [30]:
#value counts before mapping
df.ord_2.value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
Name: ord_2, dtype: int64

In [35]:
mapping = {"Freezing": 0,
            "Warm": 1,
            "Cold": 2,
            "Boiling Hot": 3,
            "Hot": 4,
            "Lava Hot": 5}

In [37]:

df.loc[:, "ord_2"] = df.ord_2.map(mapping)

In [38]:
# value counts after mapping
df.ord_2.value_counts()

0.0    142726
1.0    124239
2.0     97822
3.0     84790
4.0     67508
5.0     64840
Name: ord_2, dtype: int64

In [45]:
# Label encoding, can do the same by using  LabelEncoder from scikitlearn
import pandas as pd
from sklearn import preprocessing
#read data
df = pd.read_csv("/home/vbdirtx5000/Desktop/thomtt/Approach/variables/train.csv")
#fill NaN value ở cột ord_2
#sử dụng fillna từ pandas vì LabelEncoder của scikit-learn hông giải quyết giá trị NaN
df.loc[:, "ord_2"]= df.ord_2.fillna("NONE")
# initialize LabelEncoder
lbl_enc = preprocessing.LabelEncoder()

#fit label encoder and transform values on ord_2 column,
df.loc[:, "ord_2"] = lbl_enc.fit_transform(df.ord_2.values)

In [47]:

# check memory requirement 
import numpy as np
#create example feature matrix
example = np.array([
    [0,0,1],
    [1,0,0],
    [1,0,1]
])
print(example.nbytes)

print("------")
#we are only interested in 1s.
# any numpy array can be converted to a sparse matrix
import numpy as np
from scipy import sparse 
## convert numpy arr to sparse CSR matrix
sparse_example = sparse.csr_matrix(example)
#print size of this sparse matrix
print(sparse_example.data.nbytes)

72
------
32

In [48]:
print(sparse_example.data.nbytes + 
        sparse_example.indptr.nbytes + 
        sparse_example.indices.nbytes)

64

Mặc dù cách biểu diễn thưa của các đặc trưng được nhị phân đã tốn ít memory hơn cách biểu diễn dày đặc. Tuy nhiên, vẫn có cách biểu diễn khác tốn ít memory hơn; là One Hot Encoding
>> These three methods are the most important ways to handle categorical variables. (convert to numerical variables)

In [51]:
#go back to original data that we had. How many ids do we have in the dataframe where the value of ord_2 is Boiling Hot?
import pandas as pd
# read the dataset and convert to numbers
df = pd.read_csv("/home/vbdirtx5000/Desktop/thomtt/Approach/variables/train.csv")
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,015c63324,3.0,Novice,Freezing,a,R,GZ,5.0,NaN,0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,a02ae6a63,2.0,Novice,Boiling Hot,n,N,sf,NaN,3.0,0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,40f9610c1,2.0,Contributor,Freezing,n,H,MV,7.0,5.0,0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,c1a8374a0,1.0,Master,Warm,m,X,Ey,1.0,5.0,0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,e2aea7784,1.0,Contributor,Boiling Hot,b,O,uI,5.0,8.0,0

In [52]:
#shape of df where ord_2 column has the value Boiling Hot

df[df.ord_2 == "Boiling Hot"].shape
#84790 rows with Boiling Hot value....

(84790, 25)

In [53]:
df.groupby(["ord_2"])["id"].count()

ord_2
Boiling Hot     84790
Cold            97822
Freezing       142726
Hot             67508
Lava Hot        64840
Warm           124239
Name: id, dtype: int64

In [55]:
# create new column or replace this column by using the transform function of pandas along with groupby
df.groupby(["ord_2"])["id"].transform("count")

0          67508.0
1         124239.0
2         142726.0
3          64840.0
4          97822.0
            ...
599995    142726.0
599996     84790.0
599997    142726.0
599998    124239.0
599999     84790.0
Name: id, Length: 600000, dtype: float64

In [57]:
# grouping on ord_1 and ord_2 
df.groupby(["ord_1", "ord_2"])["id"].count().reset_index(name="count")
#this is another king of count that you can add as a feature.
#using the id column for counts, 
#however, count other columns by grouping by on combinations of the columns

          ord_1        ord_2  count
0   Contributor  Boiling Hot  15634
1   Contributor         Cold  17734
2   Contributor     Freezing  26082
3   Contributor          Hot  12428
4   Contributor     Lava Hot  11919
5   Contributor         Warm  22774
6        Expert  Boiling Hot  19477
7        Expert         Cold  22956
8        Expert     Freezing  33249
9        Expert          Hot  15792
10       Expert     Lava Hot  15078
11       Expert         Warm  28900
12  Grandmaster  Boiling Hot  13623
13  Grandmaster         Cold  15464
14  Grandmaster     Freezing  22818
15  Grandmaster          Hot  10805
16  Grandmaster     Lava Hot  10363
17  Grandmaster         Warm  19899
18       Master  Boiling Hot  10800
19       Master         Cold  12364
20       Master     Freezing  18035
21       Master          Hot   8594
22       Master     Lava Hot   8209
23       Master         Warm  15734
24       Novice  Boiling Hot  22718
25       Novice         Cold  26271
26       Novice     Freezing  38233
27       Novice          Hot  17850
28       Novice     Lava Hot  17373
29       Novice         Warm  33263

Trick: create new features from these categorical variables
which categories should we combine? 
It depends on data and types of features.

In [59]:
df["new_feature"] = (
                    df.ord_1.astype(str)
                    + "_"
                    + df.ord_2.astype(str)
)
df.new_feature

0                 Contributor_Hot
1                Grandmaster_Warm
2                    nan_Freezing
3                 Novice_Lava Hot
4                Grandmaster_Cold
                   ...
599995            Novice_Freezing
599996         Novice_Boiling Hot
599997       Contributor_Freezing
599998                Master_Warm
599999    Contributor_Boiling Hot
Name: new_feature, Length: 600000, dtype: object

Summary:bất cứ khi nào xử lí categorical variables:
- fill the NaN values
- convert to integers by applying label encoding using LabelEncoder of scikit-learn or by using a mapping dictionary 
- create one-hot encoding

Xử lí dữ liệu NaN trong biến "phân loại" là cực kì cần thiết, ko thì sẽ bị lỗi.

Cách xử lí đơn giản là bỏ đi các giá trị NaN. Tuy nhiên trong nhiều tình huống, hầu hết data lại có giá trị NaN, khi đó thì ko thể drop rows/samples đó được. 

Một cách xử lí khác, coi các giá trị NaN như là 1 loại hoàn toàn mới (a completely new category)

In [60]:
df.ord_2.value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
Name: ord_2, dtype: int64

In [61]:
#filling the NaN values
df.ord_2.fillna("NONE").value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
NONE            18075
Name: ord_2, dtype: int64

In [ ]:
# concatenate of training set and test sets to learn about the categories present in the test set 
# but not in the training set or rare categories in the training set
import pandas as pd
from sklearn import preprocessing
#read training data
train = pd.read_csv("/home/vbdirtx5000/Desktop/thomtt/Approach/variables/train.csv")
#read test data
test = pd.read_csv("/home/vbdirtx5000/Desktop/thomtt/Approach/variables/test.csv")
#create a fake target column for test data, since this column doesn't exist
test.loc[:, "target"] = -1
#concatenate both training and test data
data = pd.concat([train, test]).reset_index(drop= True)

#make a list of features mà ta quan tâm, trong đó, id và target ko encode
features = [x for x in train.columns if x not in ["id", "target"]]

#loop over the features list
for feat in features:
    #tạo một instance của LabelEncoder cho mỗi feature
    lbl_enc = preprocessing.LabelEncoder()
    #vì categorical data, fillna với 1 string và convert tất cả data về dạng string
    # dù là int hay float thì cũng convert về string. 
    temp_col = data[feat].fillna("NONE").astype(str).values
    #sử dụng fit_transform, 
    data.loc[:, feat] = lbl_enc.fit_transform(temp_col)

#split train and test data again
train = data[data.target != -1].reset_index(drop = True)
test = data[data.target == -1].reset_index(drop= True)